#main{
	background-color: #ececec;
	margin-top: 80px;
	padding-top: 10px;
}

tbody tr{
	border-width: 1px;
	border-top: 12px solid lime;
}


.section-title{
	min-height: 70px;
}

hr.thin{
	margin-bottom:7px;
	margin-top:7px;
}

/* @group list formating */

.horizontal li{
	display:inline;
}

.horizontal li a{
	padding:0.2em 1em;
}

.plainList{
	list-style-type: none; 
}


/* @end */





/* @group titleArea */



#title h1{
	font-size: 6em;
	color: #333;
}


/* @end */